<h2><%= @user.first_name %> <%= @user.last_name %></h2>
<p>Email : <%= @user.email %></p>
<p>Bio : <%= @user.bio %></p>
<p>Ville : <%= link_to @user.city.name, city_path(@user.city) %></p>


<div class="row">
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body">
        <h3><%= @user.first_name %></h3>
        <p><strong>Email :</strong> <%= @user.email %></p>
        <p><%= simple_format(@user.bio) %></p>
      </div>
    </div>
  </div>

</div>


</div>
