<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<div class="row">
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body">
        <h3><%= @user.full_name %></h3>
        <p><strong>Email :</strong> <%= @user.email %></p>
        <p><%= simple_format(@user.bio) %></p>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <h4>Potins publiés</h4>
    <% @gossips.each do |gossip| %>
      <div class="mb-2">
        <%= link_to gossip.title, gossip_path(gossip) %>
        <div class="text-muted small">
          Publié le <%= gossip.created_at.strftime("%d %b %Y") %>
        </div>
      </div>
    <% end %>
  </div>
</div>
