<h1>Créer un nouveau potin </h1>

<%= form_with url: gossips_path, method: :post do %>
  <div>
    <label for="title">Titre :</label><br>
    <%= text_field_tag :title, nil, placeholder: "Ex : Mon super potin" %>
  </div>

  <div>
    <label for="content">Contenu :</label><br>
    <%= text_area_tag :content, nil, placeholder: "Raconte ton potin ici..." %>
  </div>

  <div>
    <%= submit_tag "Publier ce potin " %>
  </div>
<% end %>

<br>

<%= link_to "Retour à la liste des potins", gossips_path %>


