
<h2><%= @gossip.title %></h2>
<p><%= @gossip.content %></p>
<p>Auteur : <%= link_to "#{@gossip.user.first_name} #{@gossip.user.last_name}", user_path(@gossip.user) %></p>
<p>Ville : <%= link_to @gossip.user.city.name, city_path(@gossip.user.city) %></p>

<%= link_to "Modifier", edit_gossip_path(@gossip), class: "btn btn-warning" %>
<%= link_to "Supprimer", gossip_path(@gossip), method: :delete, data: { confirm: "Tu es sûr ?" }, class: "btn btn-danger" %>

<hr>
<h3>Commentaires</h3>
<ul>
  <% @comments.each do |comment| %>
    <li>
      <%= comment.content %> (par <%= comment.user.first_name %>
      <%= link_to "Modifier", edit_gossip_comment_path(@gossip, comment) %>
      <%= link_to "Supprimer", gossip_comment_path(@gossip, comment), method: :delete, data: { confirm: "Supprimer ?" } %>
    </li>
  <% end %>
</ul>

<%= form_with(model: [@gossip, @comment]) do |f| %>
  <%= f.text_area :content %>
  <%= f.submit "Ajouter", class: "btn btn-success" %>
<% end %>

